################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.stackdump
/vc/.vs/netgen/v17
*.swp
/vc/x64/Debug
/rules/a.exe
*.vcxproj~
/vc/netgenGeneral/Debug
/vc/netgenGeneral.tlog
*.obj
*.log
*.recipe
/vc/netgenCore/Debug
/vc/netgenGprim/Debug
/vc/netgenLinalg/Debug
