################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.stackdump
/vc/.vs/netgen/v17
*.swp
